{% extends 'mikl/base.html' %}

{% block content %}
<center style="line-height: 1.5;">
веб-сервис<br/>
<h1><strong>PHONOTEXT</strong></h1>
Система автоматического выявления и измерения звуковой связности текста<br/>
Automatic Measuring of Sound Cohesion of the Text (the "Phonotext" Web-Service)<br/>
<i>Создана при поддержке РФФИ (грант № 17-04-12022)</i><br/><br/>
<a href="{{ url_for('mikl.edit') }}?lng=rus" class="btn btn-outline-primary" >Начать работу с русской версией</a>
<a href="{{ url_for('mikl.edit') }}?lng=latin" class="btn btn-outline-primary" >Начать работу с латинской версией</a>
</div></center>
<div style="text-align: left;padding: 20px 20px 40px 20px; max-width: 27cm; text-indent: 1cm; text-align: justify;">
<p>
Проект "Фонотекст" нацелен на нацелен на разработку компьютерной программы  для автоматического выявления звуковых повторов и измерения звуковой связности текста в формате общедоступного веб-сервиса. В настоящее время веб-сервис «Фонотекст» представляет собой полнофункциональный научно-исследовательский и научно-познавательный интернет-ресурс для автоматического распознавания звуковых повторов в тексте и измерения звуковой связности речи. Информационный продукт является результатом работы коллектива проекта по руководством автора концепции проекта д.ф.н. Г.В.Векшина при участии д.ф.н. Н.В.Перцова и группы, обеспечившей лингвистическую и программную разработку технологии.
</p>

<p>
Веб-сервис дает возможность представления целостной картины звуковой организации текста путем ее автоматического анализа, с возможностью дальнейшего соотнесения выделенных повтором сегментов текста с его ритмической и морфосинтаксической структурой. В настоящее время программа выявляет все слои повторов одной фоносиллабической модели - 1/2 (односложная двуконсонантная фоносиллабема, со всеми ее представленными в тексте вариациями.
</p>

<p>
Действующая версия программа позволяет регистрировать звуковые повторы метафонического типа (слогообразные повторы, внутренне варьируемые в отношении акцентуации и порядка звуков), т.е. видеть важнейшие для осмысления речевой ткани стиха звуковые ряды, помогающие внимательному чтению текста и его филологическому анализу.
</p>

<p>
Программа реализует возможности квантитативного измерения звуковой связности стихотворной речи путем обработки отдельных текстов и больших текстовых корпусов, открывая возможности многобразных сопоставительных и типологических исследований фоностилистики текста с опорой на объективно полученные данные.
</p>

<p>
Главные перспективы разработки программы предполагают включение в ее функционал анализатора эквиритмических и эквифонических отношений в стихе, в том числе рифменных и интернально-рифменных повторов.
С учетом особенностей поэтических традиций и иных, чем в русском, принципов орфографии разрабатываются латинская и английская версии программы, уже позволяющие говорить о принципиальной значимости фоносиллабических повторов и связей в других индоевропейских техниках стихосложения.
</p>
{% endblock %}

{% block bottom %}
© Георгий Векшин. Фоносиллабическая концепция структуры текста, 2017 — 2022.<br/>
© Георгий Векшин, Анна Алферова. Phonotext 2.1. Software, 2017 — 2022.<br/>
© Михаил Герцев, Павел Михневич, Ярослав Лоскот. 2017 — 2022.
{% endblock %}