{% extends 'livedict/base.html' %}

{% block content %}
<h2>Стилистическая характеристика</h2>


<form action="" method="post" name="vis" class="form" style="padding: 0px 4vw;">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Введите слово</span>
  </div>
  <input type="text" name="word" class="form-control" placeholder="" value="{% if word %}{{word}}{% endif %}"/>
  <div class="input-group-append">
    <button type="submit" class="btn btn-outline-primary">Отобразить</button></span>
  </div>
</div>
</form>

{% if word %}
    <h3> {{word}} </h3>
    <div id="word-portrait"></div>
    <div style="text-align: right; padding-right: calc(50vw - 6cm);">
    {% if images %}
        {% for image in images %}
            <br/>
	    {% autoescape false %}
            {{ image }}
	    {% endautoescape %}
            <br/>
        {% endfor %}
    {% else %}
        <h3> Cлово не найдено! Можете воспользоваться стилевым анализом альфа версии словаря</h3>
    {% endif %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/word-portrait.min.js') }}"></script>
    <script>if (typeof WordPortrait !== undefined) { WordPortrait.render({ mountPoint: "#word-portrait", word:"{{word}}"});}</script>
{% endif %}

{% endblock %}



{% block bottom %}
<a href="{{ url_for('livedict.predict_word') }}">α версия на базе технологии fastText</a>
{% endblock %}
